[submodule "verl"]
	path = verl
	url = https://github.com/volcengine/verl.git
[submodule "Megatron-LM"]
	path = Megatron-LM
	url = https://github.com/NVIDIA/Megatron-LM.git
[submodule "vllm-steer"]
	path = vllm-steer
	url = https://github.com/ZJU-REAL/EasySteer-vllm.git
